<section class="donate">
    {% if site.reward %}
    <div class="donate-title">打赏</div>
    <div class="donate-title-small">本文对你有帮助？那就赏杯咖啡吧!</div>
    <div class="donate-row">
        <div class="donate-item">
            <img src="/assets/images/wechat.png" alt="微信支付二维码" width="200" height="200">
            <figcaption>微信扫一扫转账</figcaption>
        </div>
        <div class="donate-item">
            <img src="/assets/images/alipay.png" alt="支付宝扫一扫打赏" height="200" width="200">
            <figcaption>支付宝扫一扫转账</figcaption>
        </div>
    </div>
    {% endif %}
</section>
