<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  {% if site.social.weibo %}
  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/{{site.social.weibo}}" title="@{{site.social.weibo}}'s Weibo" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.github %}
  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/{{site.social.github}}" title="@{{site.social.github}}'s Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.jianshu %}
  <!-- Jianshu -->
  <li class="navigation__item">
    <a href="http://www.jianshu.com/users/{{site.social.jianshu}}" title="Jianshu" target="_blank">
      <i class='social fa fa-html5'></i>
      <span class="label">Jianshu</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.skype %}
  <!-- Skype -->
  <li class="navigation__item">
    <a href="skype:{{site.social.skype}}?call" title="@{{site.social.skype}}" target="_blank">
      <i class='social fa fa-skype'></i>
      <span class="label">Skype</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.facebook %}
  <!-- facebook -->
  <li class="navigation__item">
    <a href="https://www.facebook.com/{{site.social.facebook}}" title="@{{site.social.facebook}}" target="_blank">
      <i class='social fa fa-facebook-square'></i>
      <span class="label">facebook</span>
    </a>
  </li>
  {% endif %}
  
  {% if site.social.twitter %}
  <!-- Twitter -->
  <li class="navigation__item">
    <a href="http://twitter.com/{{site.social.twitter}}" title="@{{site.social.twitter}}" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.gplus %}
  <!-- Google Plus -->
  <li class="navigation__item">
    <a href="https://plus.google.com/{{site.social.gplus}}" rel="author" title="Google+" target="_blank">
      <i class='social fa fa-google-plus-square'></i>
      <span class="label">Google Plus</span>
    </a>
  </li>
  {% endif %}

  <!-- RSS -->
  <li class="navigation__item">
    <a href="/feed.xml" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  {% if site.social.mail %}
  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:{{site.social.mail}}" title="Contact me">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>
  {% endif %}

  </ul>
</nav>
