// ------------------------------
// COMMENTS
// ------------------------------

#ds-thread.ds-thread {
  #ds-reset {
    .ds-comments-info {
      .ds-comments-tabs {
        li.ds-tab {
          .ds-comments-tab-weibo {
            display: none;
          }
        }
      }
    }
    .ds-like-tooltip {
      display: none;
    }
 /*   .ds-sync {
      display: none;
    }*/
    .ds-powered-by {
      display: none;
    }
  }
}