---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time> &#8226; <span class="post-meta__tags tags">{{page.tags}}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
</article>

{% include donate.html %}
{% include read-more.html %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- srefan.online -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5685863988652158"
     data-ad-slot="8052842820"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- {% include comments.html %} -->
